.glass{
    background: rgba(255,255,255, 0.55);
    border-radius: 16px;
    box-shadow: 0px 4px 30px rgba(255,255,255,0.25);
    backdrop-filter: blur(7.1px);
    border: 1px solid rgba(255,255,255,0.3);
    @apply border-4 border-gray-50 h-3/4 w-[30px] rounded-3xl min-w-max px-3 py-2 2xl:px-7 2xl:py-20;
}

.profile_img{
    @apply border-4 border-gray-100 w-[100px] h-[100px] rounded-full shadow-lg cursor-pointer object-cover;
    @apply hover:border-gray-200;
}

/* img = 135px */

.textbox{
    @apply border-0 px-5 py-4 rounded-xl w-3/4 shadow-sm text-lg bg-[#f0f8ff];
    @apply focus:outline-none focus:bg-[#fff];
    transition: all 0.3s ease-in-out;
}

.btn{
    @apply border bg-indigo-500 w-3/4 py-4 rounded-lg text-gray-50 text-xl shadow-sm text-center;
    transition: all 0.5s ease;
}

.btn:hover{
    background-color: #ff6a6a;
}

input[type='file']{
    display: none;
}

